# ignore build files
*.dSYM
build/
*.d

cmake-build-*/

# CLion stuff
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# ignore database dir (for testing)
store*/
