[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/inih"]
	path = libs/inih
	url = git@github.com:jtilly/inih.git
[submodule "libs/CTPL"]
	path = libs/CTPL
	url = git@github.com:vit-vit/CTPL.git
[submodule "libs/cpptime"]
	path = libs/cpptime
	url = git@github.com:eglimi/cpptime.git
[submodule "libs/liblichtenstein"]
	path = libs/liblichtenstein
	url = git@github.com:tristanseifert/lichtenstein-lib.git
[submodule "libs/angelscript"]
	path = libs/angelscript
	url = git@github.com:codecat/angelscript-mirror.git
[submodule "libs/stduuid"]
	path = libs/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "libs/sqlite_orm"]
	path = libs/sqlite_orm
	url = git@github.com:fnc12/sqlite_orm.git
