[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/inih"]
	path = libs/inih
	url = git@github.com:jtilly/inih.git
[submodule "libs/CTPL"]
	path = libs/CTPL
	url = git@github.com:vit-vit/CTPL.git
[submodule "libs/cpptime"]
	path = libs/cpptime
	url = git@github.com:eglimi/cpptime.git
