[submodule "libs/CTPL"]
	path = libs/CTPL
	url = git@github.com:vit-vit/CTPL.git
[submodule "libs/cpptime"]
	path = libs/cpptime
	url = git@github.com:eglimi/cpptime.git
[submodule "libs/angelscript"]
	path = libs/angelscript
	url = git@github.com:codecat/angelscript-mirror.git
[submodule "libs/libconfig"]
	path = libs/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/sqlite_orm"]
	path = libs/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
